body {
    font-family: 'Roboto', sans-serif;
}

#intro {
    background-color: #ec3737e1;
    margin-top: 60px;
}

#projects {
    background-color: #ec3737e1;
}

.item {
    margin-bottom: 30px;
}

.gitHubImg {
    min-height: 200px;
}

.linkedInImg {
    height: 32px;
    width: 32px;
}
